<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/aboutme.css">

    <title>About Me</title>
</head>
<body id="aboutBody">
    <nav>
        <ul>
            <li><a class="navAnchor" href="./index.html">Home</a></li>
            <li><a class="navAnchor" href="./about.html">About</a></li>
            <li><a class="navAnchor" href="./travel.html">Travel</a></li>
            <li><a class="navAnchor" href="./work.html">Work</a></li>
        </ul>
    </nav>
    <div class="introDiv">
        <h1 class="h1"><b>Cynthia Wallace</b></h1>
        <p><i>Travel Enthusiast, Adventurer, Spanish-American</i></p>
    </div>
    <div class="aboutMeMain">
        <h2>About Me</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus numquam beatae aut illo quam magni aliquam optio ipsa! Aspernatur deleniti consequatur facere eligendi quas? Odit, ex quod, amet quia molestias ullam pariatur nemo rerum, veniam maiores eum officia ducimus optio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique explicabo alias eius? Illo expedita sint enim corporis culpa doloremque voluptate nostrum maiores quod natus fuga assumenda et vel dolorum accusamus blanditiis quo neque molestiae praesentium, labore autem necessitatibus obcaecati temporibus consectetur! Pariatur ducimus veritatis doloribus nemo culpa architecto ea est!</p>
        <div id="aboutImages" >
            <div class="aboutImageOne"></div>
            <div class="hiddenTwo"></div>
            <div class="hiddenThree"></div> 
        </div>



    </div> 
    
</body>
</html>