<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/travel.css">

    <title>Travel</title>
</head>
<body class="travelBody">
    <nav>
        <ul>
            <li><a class="navAnchor" href="./index.html">Home</a></li>
            <li><a class="navAnchor" href="./about.html">About</a></li>
            <li><a class="navAnchor" href="./travel.html">Travel</a></li>
            <li><a class="navAnchor" href="./work.html">Work</a></li>
        </ul>
    </nav>
    <div class="introDiv">
        <h1 class="h1"><b>Cynthia Wallace</b></h1>
        <p><i>Travel Enthusiast, Adventurer, Spanish-American</i></p>
    </div>
    <!-- <div class="travelHead">
        <h1>Travel</h1>
    </div>  -->
    <div class="mainSection">
        <div class="subSection">
            <h2>United States</h2>

            <div class="eachSection">
                <h1>Austin</h1>
            </div>
            <div class="eachSection">
                <h1>Wyomming</h1>
            </div>
            <div class="eachSection">
                <h1>California</h1>
            </div>
            <div class="eachSection">
                <h1>Lorem</h1>
            </div>
            <div class="eachSection">
                <h1>Lorem</h1>
            </div>
            <div class="eachSection">
                <h1>Lorem</h1>
            </div>
        </div>
        <div class="subSection">
            <h2>Europe</h2>

            <div class="eachSection">
                <h1>Austin</h1>
            </div>
            <div class="eachSection">
                <h1>Wyomming</h1>
            </div>
            <div class="eachSection">
                <h1>California</h1>
            </div>
            <div class="eachSection">
                <h1>Lorem</h1>
            </div>
            <div class="eachSection">
                <h1>Lorem</h1>
            </div>
            <div class="eachSection">
                <h1>Lorem</h1>
            </div>
        </div>
        <div class="subSection">
            <h2>Mexico</h2>

            <div class="eachSection">
                <h1>Austin</h1>
            </div>
            <div class="eachSection">
                <h1>Wyomming</h1>
            </div>
            <div class="eachSection">
                <h1>California</h1>
            </div>
            <div class="eachSection">
                <h1>Ipsum</h1>
            </div>
            <div class="eachSection">
                <h1>Ipsum</h1>
            </div>
            <div class="eachSection">
                <h1>Ipsum</h1>
            </div>
        </div>
        
        
    </div>
</body>
</html>